<div class="row flex-items-xs-middle">
    
        <div class="col-xs">
            <a href="..." class="card clickable text-center">
                <div class="card-img">
                    <img src="http://icelandmag.visir.is/sites/default/files/styles/lightbox/public/thumbnails/image/dennys_logo.svg_.png?itok=ZRrZjGHn">
                </div>
                <div class="card-block">
                    <p class="card-text">
                        Mcdonalds Tips!
                    </p>
                </div>
            </a>
        </div>
    
        <div class="col-xs">
            <a href="..." class="card clickable text-center">
                <div class="card-img">
                    <img src="http://icelandmag.visir.is/sites/default/files/styles/lightbox/public/thumbnails/image/dennys_logo.svg_.png?itok=ZRrZjGHn">
                </div>
                <div class="card-block">
                    <p class="card-text">
                        Mcdonalds Tips!
                    </p>
                </div>
            </a>
        </div>
    
        <div class="col-xs">
            <a href="..." class="card clickable text-center">
                <div class="card-img">
                    <img src="http://icelandmag.visir.is/sites/default/files/styles/lightbox/public/thumbnails/image/dennys_logo.svg_.png?itok=ZRrZjGHn">
                </div>
                <div class="card-block">
                    <p class="card-text">
                        Mcdonalds Tips!
                    </p>
                </div>
            </a>
        </div>
        <div class="col-xs">
            <a href="..." class="card clickable text-center">
                <div class="card-img">
                    <img src="http://icelandmag.visir.is/sites/default/files/styles/lightbox/public/thumbnails/image/dennys_logo.svg_.png?itok=ZRrZjGHn">
                </div>
                <div class="card-block">
                    <p class="card-text">
                        Mcdonalds Tips!
                    </p>
                </div>
            </a>
        </div>
        <div class="col-xs">
            <a href="..." class="card clickable text-center">
                <div class="card-img">
                    <img src="http://icelandmag.visir.is/sites/default/files/styles/lightbox/public/thumbnails/image/dennys_logo.svg_.png?itok=ZRrZjGHn">
                </div>
                <div class="card-block">
                    <p class="card-text">
                        Mcdonalds Tips!
                    </p>
                </div>
            </a>
        </div>
      
    </div>

<div class="row flex-items-xs-middle">

    <div class="col-xs">
        <a href="..." class="card clickable text-center">
            <div class="card-img">
                <img src="http://icelandmag.visir.is/sites/default/files/styles/lightbox/public/thumbnails/image/dennys_logo.svg_.png?itok=ZRrZjGHn">
            </div>
            <div class="card-block">
                <p class="card-text">
                    Mcdonalds Tips!
                </p>
            </div>
        </a>
    </div>

    <div class="col-xs">
        <a href="..." class="card clickable text-center">
            <div class="card-img">
                <img src="http://icelandmag.visir.is/sites/default/files/styles/lightbox/public/thumbnails/image/dennys_logo.svg_.png?itok=ZRrZjGHn">
            </div>
            <div class="card-block">
                <p class="card-text">
                    Mcdonalds Tips!
                </p>
            </div>
        </a>
    </div>

    <div class="col-xs">
        <a href="..." class="card clickable text-center">
            <div class="card-img">
                <img src="http://icelandmag.visir.is/sites/default/files/styles/lightbox/public/thumbnails/image/dennys_logo.svg_.png?itok=ZRrZjGHn">
            </div>
            <div class="card-block">
                <p class="card-text">
                    Mcdonalds Tips!
                </p>
            </div>
        </a>
    </div>
    <div class="col-xs">
        <a href="..." class="card clickable text-center">
            <div class="card-img">
                <img src="http://icelandmag.visir.is/sites/default/files/styles/lightbox/public/thumbnails/image/dennys_logo.svg_.png?itok=ZRrZjGHn">
            </div>
            <div class="card-block">
                <p class="card-text">
                    Mcdonalds Tips!
                </p>
            </div>
        </a>
    </div>
    <div class="col-xs">
        <a href="..." class="card clickable text-center">
            <div class="card-img">
                <img src="http://icelandmag.visir.is/sites/default/files/styles/lightbox/public/thumbnails/image/dennys_logo.svg_.png?itok=ZRrZjGHn">
            </div>
            <div class="card-block">
                <p class="card-text">
                    Mcdonalds Tips!
                </p>
            </div>
        </a>
    </div>
  
</div>