<clr-main-container>
  <clr-header>
    <div class="branding">
      <a [routerLink]="['nutritionHome']" class="nav-link">
        <clr-icon shape="heart" class="is-solid"></clr-icon>
        <span class="title">Nutrition 251 Project</span>
      </a>
    </div>
    <div class="divider"></div>
    <div class="header-nav">
    </div>
  </clr-header>
  <div class="content-container">
    <div class="content-area">
      <router-outlet>
      </router-outlet>
    </div>
    <clr-vertical-nav [clrVerticalNavCollapsible]="true" [clr-nav-level]="1" [(clrVerticalNavCollapsed)]="collapsed">
        <a clrVerticalNavLink routerLinkActive="active" routerLink="./nutritionHome">
          <clr-icon shape="certificate" clrVerticalNavIcon></clr-icon>
          Nutrition Home
        </a>
      <a clrVerticalNavLink routerLinkActive="active" routerLink="./credit">
        <clr-icon shape="certificate" clrVerticalNavIcon></clr-icon>
        Credit
      </a>
    </clr-vertical-nav>
  </div>
</clr-main-container>
