<clr-main-container>
  <clr-header>
    <div class="branding">
      <a [routerLink]="['nutritionHome']" class="nav-link">
        <clr-icon shape="heart" class="is-solid"></clr-icon>
        <span class="title">Nutrition 251 Project</span>
      </a>
    </div>
    <div class="divider"></div>
    <div class="header-nav">
    </div>
  </clr-header>
  <div class="content-container">
    <div class="content-area">
      <router-outlet>
      </router-outlet>
    </div>
    <clr-vertical-nav [clrVerticalNavCollapsible]="true" [clr-nav-level]="1" [(clrVerticalNavCollapsed)]="collapsed">
      <clr-vertical-nav-group routerLinkActive="active">
        <clr-icon shape="scroll" class="is-solid" clrVerticalNavIcon></clr-icon>
        Nutrition
        <clr-vertical-nav-group-children>
          <a clrVerticalNavLink routerLink="./nutritionHome/nutritionFastFood" routerLinkActive="active">
            Nutrition Fast Food
          </a>
        </clr-vertical-nav-group-children>
      </clr-vertical-nav-group>
      <a clrVerticalNavLink routerLinkActive="active" routerLink="./credit">
        <clr-icon shape="certificate" clrVerticalNavIcon></clr-icon>
        Credit
      </a>
    </clr-vertical-nav>
  </div>
</clr-main-container>
