<h1>
  Some of the best tips for eating on the go!
</h1>

<p class="word-wrap">
  When trying to make good decisions for eating on the go, you must fit your healthy eating to your own lifestyle.
</p>

<ol class="list">
  <h3>
    <li>
      Plan your Snacks and Meals
    </li>
  </h3>
  <ul class="list">
    <li>
      Have a dedicated day towards meal prepping for the week, even if its meal prepped lunches it will semi-force you to take
      the prepared food because its easily available for you. All you have to do is Grab and Go.
    </li>
    <li>
      When Meal prepping make sure to prepackage your snacks by serving size, it will definitely help keep you in your planned
      limits.
    </li>
  </ul>
  <h3>
    <li>
      Eat Breakfast
    </li>
  </h3>
  <ul class="list">
    <li>
      A good balanced morning meal can give you the proper nutrients to start off your day and help get you going on the right
      foot. Try making overnight oats the night before, they are delicious and very filling!
    </li>
    <li>
      <a href="https://cookieandkate.com/2017/overnight-oats-recipe/">Overight oats recipes </a>
    </li>
  </ul>
  <h3>
    <li>
      Track Your Calories
    </li>
  </h3>
  <ul class="list">
    <li>
      Check out a food tracking app like MyFitnessPal. Hands down the easiest way to track your calories since you can just scan
      the bar codes!
    </li>
    <li>
      <a href="https://www.myfitnesspal.com/">MyFitnessPal</a>
    </li>
  </ul>
  <h3>
    <li>
      Drink More Water
    </li>
  </h3>
  <ul class="list">
    <li>
      This is pretty straight forward, most likely you are not drinking enough water in the day. Go out and buy a water bottle
      and always have it with you, keep it in your backpack! Just by having it around you will force yourself to drink more
      water.
    </li>
  </ul>
  <h3>
    <li>
      Get Competitive with a Fitness Tracker!
    </li>
  </h3>
  <ul class="list">
    <li>
      The best way to better yourself physically is with some friendly competition. With the popularity of fitness trackers, you
      can easily compete against friends and family for who can put down the most amount of steps.
    </li>
    <li>
      The FitBit app has a community section and you can add your friends/family on it to keep track of weekly steps. This can
      be a huge motivator so you can show them up!
      
    </li>
    <img src="https://i.imgur.com/pW32XFE.png" width="350" height="350">
    <li>
      Also you can use other services such as Strava to analyze your workouts and see what personal achievements you are breaking!
    </li>
    <iframe height='405' width='590' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/activities/1250727505/embed/37f334d19ecf01bf80e9e0c1620400693ab57120'></iframe>
    
  </ul>
</ol>

<p>
  Credit to source 2
</p>