<h1>
  Sources
</h1>

<ol class="list">


  <h3>
    <li>
      Source 1
    </li>
  </h3>
  <ul class="list">
    <li>
      The (partial) LoseIt guide to fast food while calorie counting • r/loseit. (n.d.). Retrieved November 30, 2017, from https://www.reddit.com/r/loseit/comments/7dcxb8/the_partial_loseit_guide_to_fast_food_while/
    </li>
  </ul>

  <h3>
    <li>
      Source 2
    </li>
  </h3>
  <ul class="list">
    <li>
      5 Tips for Healthy Eating on the Go | MyFitnessPal. (2016, May 29). Retrieved November 30, 2017, from http://blog.myfitnesspal.com/tips-healthy-eating-on-the-go/
    </li>
  </ul>
  
</ol>